
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/quan_li_model.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
</head>
<body>
<div class="khung-chu-nhat">
    <div class="ten-chuc-nang">
        <h4 class="h1">Hệ thống quản lý</h4>
    </div>
    <div class="flex-box">
        <div class="thanh-cong-cu">
            <div class="tai-khoan">
                <h4 style="margin-top: 10px; color: rgb(56, 65, 56); margin-left: 10px">Phan Tuấn Thạch</h4>
                <a href="">Logout</a>
            </div>
            <div class="bang-cong-cu">
                <button class="button-congcu" onclick="goToPage('/')" style="border-top-right-radius: 10px;border-top-left-radius: 10px;">Home</button>
                <button class="button-congcu" onclick="goToPage('/quan_li_model')">Danh sách model</button>
                <button class="button-congcu" onclick="goToPage('/huan_luyen_model')">Huấn luyện model</button>
            </div>
        </div>
        <div class="bang-tabel">
            <div class="button-loc">
                <label for="id" >Label: </label>
                <input type="text" style="width: 4cm;" id="label" placeholder="Nhập Label" th:value="${id}">
                <button class="tim-kiem" onclick="timKiem()">Tìm kiếm</button>
            </div>
            <div class="tabel">
                <h4 class="h1" >Danh sách model huấn luyện được</h4>
                <div class="khung">
                    <div class="buton-codinh" >
                        <table class="bang-du-lieu">
                            <tr style="display: flex">
                                <th class="nhan-de" style="width: 2cm">ID Image</th>
                                <th class="nhan-de" style="width: 6cm">Link Path</th>
                                <th class="nhan-de" style="width: 6cm">Feature</th>
                                <th class="nhan-de truncate-cell" style="width: 5cm">Label</th>
                                <th class="nhan-de" style="width: 5.3cm">Action</th>
                            </tr>
                        </table>
                    </div>
                    <div class="table-container" >
                        <table class="bang-du-lieu">
                            <tbody>
                            <tr style="display: flex" th:each="listData : ${listData}">
                                <td style=" text-align: center;width: 2cm; height: 30px" th:text="${listData.IdImage}"></td>
                                <td class="truncate-cell" style="text-align: center; width: 6cm; height: 30px" th:text="${listData.Link_path}"></td>
                                <td class="truncate-cell" style="text-align: center; width: 6cm; height: 30px" th:text="${listData.Feature}"></td>
                                <td style="text-align: center; width: 5cm; height: 30px" class="truncate-cell" th:text="${listData.Label}"></td>
                                <td style=" text-align: center;width: 4.8cm; height: 30px">
                                    <input type="checkbox" name="selectedModels" th:value="${listData.IdImage}">
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    </table>
                    <div class="huan_luyen">
                        <button class="button-start" onclick="saveSelectedModels()">Thực hiện huấn luyện</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function timKiem() {
        var label = document.getElementById("label").value;

        // Chuyển hướng đến trang tìm kiếm với các tham số tu và den
        if(label.trim() === ""){
            alert("Vui lòng nhập label để tìm kiếm.");
            return;
        }
        // Xây dựng URL tìm kiếm
        var searchUrl = '/training_model/search?label=' + label;
        // Chuyển hướng đến URL tìm kiếm
        window.location.href = searchUrl;
    }
    function goToPage(url) {
        window.location.href = url;
    }
    function saveSelectedModels() {
        var selectedIds = [];
        var checkboxes = document.getElementsByName('selectedModels');

        // Lấy ID của các dòng đã chọn
        checkboxes.forEach(function (checkbox) {
            if (checkbox.checked) {
                selectedIds.push(checkbox.value);
            }
        });

        if (selectedIds.length === 0) {
            alert('Vui lòng chọn ít nhất một dòng để lưu.');
            return;
        }

        var confirmation = confirm("Bạn có chắc chắn huấn luyện model mới trên tập dữ liệu đã chọn?");

        if (confirmation) {
            // Gửi yêu cầu lưu các model đã chọn
            fetch('/training_model/train', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ selectedIds: selectedIds }),
            })
                .then(response => {
                    if (response.ok) {
                        console.log('Các dòng đã được lưu thành công');
                        // Làm mới trang để cập nhật bảng
                        location.reload();
                    } else {
                        console.error('Lỗi khi lưu dữ liệu');
                    }
                })
                .catch(error => {
                    console.error('Lỗi khi gửi yêu cầu lưu: ' + error);
                });
        }
    }
</script>
</body>
</html>

